# 1. Ignoruj prywatne pliki z hasłami (NAJWAŻNIEJSZE!)
login.h
login.cpp
secrets.h
secrets.cpp
AirBox.cpp
AirBox.h

# 2. Ignoruj foldery kompilacji (zajmują dużo miejsca i nie są potrzebne na GitHubie)
build/
.pio/
*.bin
*.elf
*.hex

# 3. Ignoruj pliki systemowe i tymczasowe
.DS_Store
Thumbs.db
*.bak
*.tmp
